* {
    padding: 0;
    margin: 0;
    font-family: 'Grandstander', cursive;
}

body {
    background-color: #0F8B8D;
    text-justify: auto;
    
    
}

.display-4 {
    color: aliceblue;
}

.container, .march {
    border-radius: 25px;
    margin-top: 10px;
    
    background-color: #143642;
    padding: 10px;
    
    
}

#tbodyS {
    background-color: white;
    
}

.table {
    margin-top: 10px;
    text-align: center;
}

.display-4 {
    text-align: center;
}



.uncheckable {
    pointer-events: none;
    padding: 10%;
    border-radius: 50px;

}

.ajuste-izquierda {
    text-align: left;
}

.email {
    margin: 20px;
    left: 0px;
}

