* {
    padding: 0;
    margin: 0;
    font-family: 'Grandstander', cursive;
}

body {
    background-color: #0F8B8D;
    text-justify: auto;
    
    
}

.display-4 {
    color: aliceblue;
}

.container, .march {
    border-radius: 25px;
    margin-top: 10px;
    
    background-color: #143642;
    padding: 10px;
    
    
}

#tbodyS {
    background-color: white;
    
}

.table {
    margin-top: 10px;
    text-align: center;
}

.display-4 {
    text-align: center;
}



.uncheckable {
    pointer-events: none;
    padding: 10%;
    border-radius: 50px;

}

.ajuste-izquierda {
    text-align: left;
}

.email {
    display: none;
    
    
}

#notasdeVersion {
    opacity: 0;
}
.btn-group-toggle{
    border-radius: 25px;
}

.btn-group-toggle:hover {
    background-color: #0069D9;
    transition-delay:200ms;
    
}



.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 100%;
    max-width: 500px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    
}
 
.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}